In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
churn_train = pd.read_csv('data/churn_train.csv')

In [13]:
churn_train.head(5).T

,0,1,2,3,4
avg_dist,6.94,8.06,21.5,9.46,13.77
avg_rating_by_driver,5,5,4,5,5
avg_rating_of_driver,5,5,NaN,NaN,NaN
avg_surge,1,1,1,2.75,1
city,Astapor,Astapor,Winterfell,Winterfell,Winterfell
last_trip_date,2014-05-03,2014-01-26,2014-05-21,2014-01-10,2014-05-13
phone,0,0,1,0,1
signup_date,2014-01-12,2014-01-25,2014-01-02,2014-01-09,2014-01-31
surge_pct,0,0,0,100,0
trips_in_first_30_days,0,2,1,1,0
luxury_car_user,False,True,True,False,False
weekday_pct,100,0,100,100,100
last_trip_date_dt,2014-05-03 00:00:00,2014-01-26 00:00:00,2014-05-21 00:00:00,2014-01-10 00:00:00,2014-05-13 00:00:00
churn,1,1,1,1,1

In [4]:
churn_train['last_trip_date_dt'] = pd.to_datetime(churn_train['last_trip_date'])

In [5]:
churn_train.head(10)

,avg_dist,avg_rating_by_driver,avg_rating_of_driver,avg_surge,city,last_trip_date,phone,signup_date,surge_pct,trips_in_first_30_days,luxury_car_user,weekday_pct,last_trip_date_dt
0,6.94,5.0,5.0,1.00,Astapor,2014-05-03,Android,2014-01-12,0.0,0,False,100.0,2014-05-03
1,8.06,5.0,5.0,1.00,Astapor,2014-01-26,Android,2014-01-25,0.0,2,True,0.0,2014-01-26
2,21.50,4.0,NaN,1.00,Winterfell,2014-05-21,iPhone,2014-01-02,0.0,1,True,100.0,2014-05-21
3,9.46,5.0,NaN,2.75,Winterfell,2014-01-10,Android,2014-01-09,100.0,1,False,100.0,2014-01-10
4,13.77,5.0,NaN,1.00,Winterfell,2014-05-13,iPhone,2014-01-31,0.0,0,False,100.0,2014-05-13
5,14.51,5.0,NaN,1.00,Astapor,2014-04-22,iPhone,2014-01-29,0.0,0,True,100.0,2014-04-22
6,4.87,4.7,4.0,1.00,Astapor,2014-04-21,Android,2014-01-18,0.0,0,False,66.7,2014-04-21
7,1.78,4.0,5.0,1.00,Winterfell,2014-01-12,iPhone,2014-01-11,0.0,3,False,0.0,2014-01-12
8,6.87,5.0,4.7,1.00,Astapor,2014-01-30,Android,2014-01-01,0.0,3,False,66.7,2014-01-30
9,2.41,5.0,3.0,1.00,Winterfell,2014-01-29,iPhone,2014-01-28,0.0,1,False,100.0,2014-01-29

In [6]:
churn_train['churn'] = (churn_train['last_trip_date_dt'] < '2014-06-01') * 1

In [7]:
churn_train.head(10)

,avg_dist,avg_rating_by_driver,avg_rating_of_driver,avg_surge,city,last_trip_date,phone,signup_date,surge_pct,trips_in_first_30_days,luxury_car_user,weekday_pct,last_trip_date_dt,churn
0,6.94,5.0,5.0,1.00,Astapor,2014-05-03,Android,2014-01-12,0.0,0,False,100.0,2014-05-03,1
1,8.06,5.0,5.0,1.00,Astapor,2014-01-26,Android,2014-01-25,0.0,2,True,0.0,2014-01-26,1
2,21.50,4.0,NaN,1.00,Winterfell,2014-05-21,iPhone,2014-01-02,0.0,1,True,100.0,2014-05-21,1
3,9.46,5.0,NaN,2.75,Winterfell,2014-01-10,Android,2014-01-09,100.0,1,False,100.0,2014-01-10,1
4,13.77,5.0,NaN,1.00,Winterfell,2014-05-13,iPhone,2014-01-31,0.0,0,False,100.0,2014-05-13,1
5,14.51,5.0,NaN,1.00,Astapor,2014-04-22,iPhone,2014-01-29,0.0,0,True,100.0,2014-04-22,1
6,4.87,4.7,4.0,1.00,Astapor,2014-04-21,Android,2014-01-18,0.0,0,False,66.7,2014-04-21,1
7,1.78,4.0,5.0,1.00,Winterfell,2014-01-12,iPhone,2014-01-11,0.0,3,False,0.0,2014-01-12,1
8,6.87,5.0,4.7,1.00,Astapor,2014-01-30,Android,2014-01-01,0.0,3,False,66.7,2014-01-30,1
9,2.41,5.0,3.0,1.00,Winterfell,2014-01-29,iPhone,2014-01-28,0.0,1,False,100.0,2014-01-29,1

In [8]:
churn_train['churn'].value_counts()

1    24968
0    15032
Name: churn, dtype: int64

In [9]:
churn_train['phone'] = (churn_train['phone'] == 'iPhone') *1

In [10]:
churn_train.head(10)

,avg_dist,avg_rating_by_driver,avg_rating_of_driver,avg_surge,city,last_trip_date,phone,signup_date,surge_pct,trips_in_first_30_days,luxury_car_user,weekday_pct,last_trip_date_dt,churn
0,6.94,5.0,5.0,1.00,Astapor,2014-05-03,0,2014-01-12,0.0,0,False,100.0,2014-05-03,1
1,8.06,5.0,5.0,1.00,Astapor,2014-01-26,0,2014-01-25,0.0,2,True,0.0,2014-01-26,1
2,21.50,4.0,NaN,1.00,Winterfell,2014-05-21,1,2014-01-02,0.0,1,True,100.0,2014-05-21,1
3,9.46,5.0,NaN,2.75,Winterfell,2014-01-10,0,2014-01-09,100.0,1,False,100.0,2014-01-10,1
4,13.77,5.0,NaN,1.00,Winterfell,2014-05-13,1,2014-01-31,0.0,0,False,100.0,2014-05-13,1
5,14.51,5.0,NaN,1.00,Astapor,2014-04-22,1,2014-01-29,0.0,0,True,100.0,2014-04-22,1
6,4.87,4.7,4.0,1.00,Astapor,2014-04-21,0,2014-01-18,0.0,0,False,66.7,2014-04-21,1
7,1.78,4.0,5.0,1.00,Winterfell,2014-01-12,1,2014-01-11,0.0,3,False,0.0,2014-01-12,1
8,6.87,5.0,4.7,1.00,Astapor,2014-01-30,0,2014-01-01,0.0,3,False,66.7,2014-01-30,1
9,2.41,5.0,3.0,1.00,Winterfell,2014-01-29,1,2014-01-28,0.0,1,False,100.0,2014-01-29,1

In [11]:
churn_train['phone'].value_counts()

1    27628
0    12372
Name: phone, dtype: int64

In [12]:
churn_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 14 columns):
avg_dist                  40000 non-null float64
avg_rating_by_driver      39838 non-null float64
avg_rating_of_driver      33472 non-null float64
avg_surge                 40000 non-null float64
city                      40000 non-null object
last_trip_date            40000 non-null object
phone                     40000 non-null int64
signup_date               40000 non-null object
surge_pct                 40000 non-null float64
trips_in_first_30_days    40000 non-null int64
luxury_car_user           40000 non-null bool
weekday_pct               40000 non-null float64
last_trip_date_dt         40000 non-null datetime64[ns]
churn                     40000 non-null int64
dtypes: bool(1), datetime64[ns](1), float64(6), int64(3), object(3)
memory usage: 4.0+ MB

## Presentation:

- Cleaning and EDA:
    - Replace NaN for average ratings with the average of the average ratings
    - Converted phone device to 1 for iPhone, 0 for Android
    - Converted luxury car to 1 for True, 0 for False
    - get_dummies with the 3 different cities
    - Created a target column 'churn' and set 1 if user last logged in past 30 days since current day, 0 otherwise
- Modeling:
    - Logistic Regression
        - Accuracy score, precision, recall
        - Beta Coefficients for each feature: Phone, Luxury Car, City
    - Random Forest Classifier
    - Gradient Boosting
- ROC Curve (for the 3 models)
    - AUC
- Class Imbalances
    - SMOTE
    - Cost benefit (optimal point)
- Further Exploration:
    - Feature Importance - Partial curves
    - Model based on every city
    - Add another feature by calculating price w/ distance and average surge percentage